/* NEW CSS PROJECT */

/* IMPORTS */
@font-face {
  font-family: "Lexend";
  src: url(fonts/LexendPeta-Regular.ttf);
}
@font-face {
  font-family: "Lexend-Bold";
  src: url(fonts/LexendPeta-Bold.ttf);
}
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500&display=swap");

@import "components/assets";
@import "components/navbar";
@import "components/footer";
@import "components/animations";
@import "components/connexion";
@import "components/contact";
@import "components/accessplan";
@import "components/inscription";
@import "components/profil";

/* reset */
*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* body */
html,
body {
  font-family: "DM Sans", sans-serif;
  font-size: clamp(0.9rem, 1.5vw, 16px);
  overflow-x: hidden;
  background-image: url("../img/background.png");
  background-size: cover;
  background-repeat: no-repeat;

  &.home {
    background-image: none;
    background-color: white;
  }

  &::-webkit-scrollbar {
    width: 14px;
  }
  &::-webkit-scrollbar-track {
    background: #cecece;
  }
  &::-webkit-scrollbar-thumb {
    background: rgb(82, 82, 82);
    border: 4px solid #cecece;
  }
  &::-webkit-scrollbar-thumb:hover {
    background: rgb(46, 46, 46);
  }
}

/* TITLES */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Lexend-Bold", sans-serif;
  font-weight: 400;
  letter-spacing: -1px;
}

h1 {
  font-size: clamp(1.5rem, 1.5vw, 2rem);
  position: relative;
  width: fit-content;
  z-index: 1;
  letter-spacing: -1.5px;
}

h1:not(.no-style):before {
  content: "";
  position: relative;
  top: -0.5rem;
  margin-right: 1rem;
  display: inline-block;
  height: 2px;
  width: 1.5rem;
  background-color: currentColor;
}

h1:not(.no-style):after {
  content: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABYAAAAOCAYAAAArMezNAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAArSURBVHgB7dHBCQAACEJRaf8FnK5Vwh0qEHzgxesHLpFsbfMvxIvEM5Z4MsmiP/cFQiy5AAAAAElFTkSuQmCC");
  position: absolute;
  object-fit: cover;
  top: -10px;
  right: -15px;
  z-index: -1;
h1::after {
  content: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABYAAAAOCAYAAAArMezNAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAArSURBVHgB7dHBCQAACEJRaf8FnK5Vwh0qEHzgxesHLpFsbfMvxIvEM5Z4MsmiP/cFQiy5AAAAAElFTkSuQmCC");
  position: relative;
  top: -10px;
  left: -15px;
}

/*  main classes  */
.d-flex {
  display: flex;
}
.column {
  flex-direction: column;
}
.row {
  flex-direction: row;
}
.justify-center {
  justify-content: center;
}
.justify-between {
  justify-content: space-between;
}
.align-center {
  align-items: center;
}
.grid-center {
  display: grid;
  place-items: center;
}

.text-center {
  text-align: center;
}

.f-width {
  width: 100%;
}

.margin-auto {
  margin-inline: auto;
}

.error_div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  #error {
    margin: 1rem;
    padding: 0.5rem 1rem;
    border-radius: 1rem;
    background-color: rgba(255, 0, 0, 0.5);
    color: white;
  }

  #success {
    margin: 1rem;
    padding: 0.5rem 1rem;
    border-radius: 1rem;
    background-color: rgba(0, 255, 0, 0.5);
    color: white;
  }
}

ul:not(.doted) {
  list-style: none;
}

.doted {
  list-style: disc;

  & > li {
    margin-left: 1rem;
  }
}

.tableContainer {
  overflow-x: auto;
  max-width: 100%;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  border: 1px solid #ddd;

  th,
  td {
    text-align: left;
    padding: 0.5rem 1rem;
    border: 1px solid rgba(221, 221, 221, 0.331);
  }

  tr:nth-child(even) {
    background-color: #2e2e2e;
  }

  tr {
    background-color: #3c3c3c;
  }

  tr:hover {
    background-color: rgb(92, 92, 92);
  }

  th {
    text-align: center;
    background-color: #0e1624;
    color: white;
  }
}

/* BODY DEVELOPMENT */
.hero_container {
  width: 100%;
  min-height: 100vh;
}
.hero {
  margin: 0 auto;
  height: 100vh;
  max-width: 100%;
  padding: 1.5rem;
  animation: zoom 750ms ease-in-out;
  color: white;
  .content {
    position: relative;
    height: 100%;
    width: 100%;
    background-color: #1c1c20;
    border-radius: clamp(0.5rem, 1.5vw, 1rem);
    padding-inline: 10vw;
    display: flex;
    align-items: center;

    h1 {
      font-size: clamp(1.5rem, 1.5vw, 2rem);
      font-family: "Lexend-Bold", sans-serif;
      margin-block: 1rem;
    }
  }
}

.content-container {
  align-items: center;
  gap: 5vw;
  flex-wrap: wrap;
  .main-container {
    display: flex;
    flex: 1 1 400px;

    flex-direction: column;
    gap: 3rem;
    margin-inline: 0;
    .para {
      background-color: rgba($color: #5c5c5c, $alpha: 0.75);
      padding: 1rem;
      border-radius: 1rem;
    }
  }
}

.imgReveal {
  position: relative;
  overflow: hidden;
  border-radius: 40px;

  flex: 1 0 50%;

  margin-inline: auto;

  max-width: 800px;

  display: flex;
  justify-content: center;
  align-items: center;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .clippedImage {
    position: absolute;
    inset: 0;
    clip-path: circle(0% at 50% 50%);
    animation: clipSize 1s ease-in-out;

    z-index: 10;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .infoOverlay {
    position: absolute;
    inset: 0;
    overflow: hidden;
    z-index: 20;

    .overlayCard {
      position: absolute;
      inset: 0;
      opacity: 0;
      visibility: hidden;
      background-color: rgba(85, 51, 51, 0.7);
      backdrop-filter: blur(10px);

      transition: 0.25s;
      transition-delay: 300ms;
    }
    .overlayContent {
      position: absolute;
      top: -50%;
      left: 50%;
      transform: translate(-50%, 0);
      text-align: center;
      color: white;

      transition: transform 0.3s ease-in-out, top 0.3s ease-in-out;
      transition-delay: 0;

      p {
        font-size: 1.25rem;
      }
    }
    .overlayBtn {
      position: absolute;
      bottom: 1.5rem;
      right: 1.5rem;
      height: 3rem;
      width: 3rem;
      text-align: center;
      padding: 0.75rem;
      border-radius: 50%;
      background-color: rgba($color: #fff, $alpha: 0.5);

      cursor: pointer;

      svg {
        max-width: 100%;
        height: auto;
        fill: white;
        transition: transform 300ms ease-in-out;
      }
    }

    &.opened {
      .overlayCard {
        opacity: 1;
        visibility: visible;
        transition: 0.3s;
        transition-delay: 0;
      }
      .overlayContent {
        top: 50%;
        transform: translate(-50%, -50%);
        transition-delay: 200ms;
      }
      .overlayBtn {
        svg {
          transform: rotate(45deg);
        }
      }
    }
  }
}

@media only screen and (max-width: 1024px) {
  .hero {
    padding: 0;
    .content {
      padding-inline: 5vw;
      border-radius: 0;
    }
  }
}

.container_bas {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding: 50px;
}

@media (max-width: 1080px) {
  .container_bas {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
  }
  #dates {
    max-height: 390px;
    max-width: 400px;
    margin-bottom: 30px;
  }
  #dates_importantes {
    max-height: 350px;
    max-width: 350px;
    background-color: #ececec;
    border-radius: 15px;
    margin: 20px;
    text-align: center;
    justify-content: space-around;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 5px 8px 14px 3px rgb(0 0 0 / 15%);
  }
  #dadates {
    position: absolute;
    max-width: 275px;
    max-height: 275px;
    display: flex;
    flex-direction: column;
    font-style: normal;
    font-size: 12px;
    line-height: 10px;
    align-items: center;
    justify-content: center;
  }
  #down_content {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  #carte {
    max-width: 400px;
    max-height: 500px;
  }
  #emplacement_map {
    max-width: 360px;
    max-height: 210px;
    border-radius: 47px;
    box-shadow: 5px 8px 14px 3px rgb(0 0 0 / 15%);
    margin: 20px;
  }
  #nav_bas {
    max-width: 360px;
    max-height: 100px;
    background-color: #ececec;
    border-radius: 15px;
    margin: 20px;
    text-align: center;
    justify-content: space-around;
    display: flex;
    align-items: center;
    box-shadow: 5px 8px 14px 3px rgb(0 0 0 / 15%);
  }

  #bulles1 {
    max-width: 90px;
    max-height: 79px;
    border-radius: 30px !important;
  }

  #bulles2 {
    max-width: 90px;
    max-height: 79px;
    border-radius: 30px !important;
  }
  #bulles3 {
    max-width: 90px;
    max-height: 79px;
    border-radius: 30px !important;

  }

  .txt_bulles {
    font-size: 9px !important;
    margin-left: 9px !important;
    margin-top: 9px!important;
    margin-bottom: 0px !important;
}
.flèches {
  max-width: 140px;
  max-height: 50px;
  justify-content: flex-end;
  display: flex;
}
}




#card_intervenant {
  width: 350px;
  height: 100px;
  background-color: #ececec;
  border-radius: 15px;
  margin: 20px;
  align-items: center;
}

#dates_importantes {
  width: 500px;
  height: 500px;
  background-color: #ececec;
  border-radius: 15px;
  margin: 20px;
  justify-content: space-around;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 5px 8px 14px 3px rgba(0, 0, 0, 0.15);
}
.dadates {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
  font-style: normal;
  font-size: 21px;
}

#emplacement_map {
  width: 560px;
  height: 310px;
  border-radius: 47px;
  box-shadow: 5px 8px 14px 3px rgba(0, 0, 0, 0.15);
  margin: 20px;
  border: 0;
}

#nav_bas {
  width: 560px;
  height: 145px;
  background-color: #ececec;
  border-radius: 15px;
  margin: 20px;
  text-align: center;
  justify-content: space-between;
  display: flex;
  padding: 1rem;
  gap: 1rem;

  align-items: center;
  box-shadow: 5px 8px 14px 3px rgba(0, 0, 0, 0.15);
}

#bulles1 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 140px;
  height: 129px;
  background: linear-gradient(98.7deg, #2163e1 0%, #2ddae6 98.66%);
  border-radius: 36px;
  color: #fff;
  text-align: left;
}
#bulles2 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 140px;
  height: 129px;
  background: linear-gradient(98.7deg, #48b66d 0%, #40e0d0 98.66%);
  border-radius: 36px;
  color: #fff;
  text-align: left;
}
#bulles3 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 140px;
  height: 129px;
  background: linear-gradient(98.7deg, #7adfdf 0%, #4a87ff 98.66%);
  border-radius: 36px;
  color: #fff;
  text-align: left;
}

.dadates {
  position: absolute;
  width: 471px;
  height: 480px;
  display: flex;
  flex-direction: column;
  font-style: normal;
  font-size: 21px;
  line-height: 26px;
  align-items: center;
}

.p_dates {
  margin: 15px;
}

.txt_bulles {
  margin-left: 13px;
  margin-top: 13px;
  margin-bottom: 13px;
  font-size: 12px;
}

.flèches {
  width: 140px;
  height: 50px;
  justify-content: flex-end;
  display: flex;
  padding: 0.5rem;
}

.flèches_background {
  width: 38px;
  height: 38px;
  background: rgba(225, 225, 225, 0.49);
  margin: 15px;
  border-radius: 100%;
  display: flex;
}
.btn_blue{
border: 2px solid #47C7EF;
border-radius:30px ;
color: #47C7EF;
padding: 4px;
}

.articles_container{
  background: #F1F1F1;
box-shadow: 5px 8px 14px 3px rgba(0, 0, 0, 0.15);
border-radius: 47px;
width: 1200px;
height: 300px;
display: flex;
flex-wrap: wrap;
padding: 0px !important;
align-content: center;
}
#articles{
  display: flex;
  flex-wrap: nowrap;
  align-content: center;
}

.article{
  margin:10px
}

@media(max-width:1200px){
  #articles{
    display: flex;
    flex-wrap: nowrap;
    align-content: center;
    max-width: 900px;
  }
  .article{
    margin:10px
  }
  .articles_container{
    background: #F1F1F1;
  box-shadow: 5px 8px 14px 3px rgba(0, 0, 0, 0.15);
  border-radius: 47px;
  max-width: 900px;
  height: 300px;
  display: flex;
  flex-wrap: wrap;
  padding: 0px !important;
  align-content: center;
  }
}

@media(max-width:900px){
  #articles{
    display: flex;
    flex-wrap: nowrap;
    max-width: 700px;
    align-content: center;
  }
  .article{
    margin:10px
  }
  .articles_container{
    background: #F1F1F1;
  box-shadow: 5px 8px 14px 3px rgba(0, 0, 0, 0.15);
  border-radius: 47px;
  max-width: 700px;
  height: 300px;
  display: flex;
  flex-wrap: wrap;
  padding: 0px !important;
  align-content: center;
  }
}

@media(max-width:720px){
  #articles{
    display: flex;
    flex-wrap: wrap;
    max-width: 290px;
    align-content: center;
  }
  .article{
    margin:10px
  }
  .articles_container{
    background: #F1F1F1;
  box-shadow: 5px 8px 14px 3px rgba(0, 0, 0, 0.15);
  border-radius: 47px;
  max-width: 290px;
  height: 300px;
  display: flex;
  flex-wrap: wrap;
  padding: 0px !important;
  align-content: center;
  }
  #txt_article{
    font-size: 8px;
  }
}

#bouton_articles{
  display: flex;
  justify-content: flex-end;
  margin-right: 50px;
  margin-top: 20px;
  
}

}
