/* NEW CSS PROJECT */

/* IMPORTS */
@font-face {
  font-family: "Lexend";
  src: url(fonts/LexendPeta-Regular.ttf);
}
@font-face {
  font-family: "Lexend-Bold";
  src: url(fonts/LexendPeta-Bold.ttf);
}

@import "components/assets";
@import "components/navbar";
@import "components/animations";
@import "components/connexion";
@import "components/contact";
@import "components/accessplan";

/* reset */
*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* body */
html,
body {
  font-family: "Lexend", sans-serif;
  font-size: 16px;
  height: 300%;
  overflow-x: hidden;

  &::-webkit-scrollbar {
    width: 14px;
  }
  &::-webkit-scrollbar-track {
    background: #cecece;
  }
  &::-webkit-scrollbar-thumb {
    background: rgb(82, 82, 82);
    border: 4px solid #cecece;
  }
  &::-webkit-scrollbar-thumb:hover {
    background: rgb(46, 46, 46);
  }
}

/*  main classes  */
.d-flex {
  display: flex;
}
.column {
  flex-direction: column;
}
.row {
  flex-direction: row;
}
.justify-center {
  justify-content: center;
}
.justify-between {
  justify-content: space-between;
}
.align-center {
  align-items: center;
}
.grid-center {
  display: grid;
  place-items: center;
}

/* BODY DEVELOPMENT */
.hero_container {
  width: 100%;
  min-height: 100vh;
}
.hero {
  margin: 0 auto;
  height: 100vh;
  max-width: 100%;
  padding: 1.5rem;
  animation: zoom 750ms ease-in-out;
  color: white;
  .content {
    position: relative;
    height: 100%;
    width: 100%;
    background-color: #1c1c20;
    border-radius: clamp(0.5rem, 1.5vw, 1rem);
    padding-inline: 10vw;
  }
}

.content-container {
  align-items: center;
  gap: 5vw;
  .main-container {
    display: flex;
    flex: 1 1 40%;

    flex-direction: column;
    gap: 3rem;
    margin-inline: 0;
    .para {
      background-color: rgba($color: #5c5c5c, $alpha: 0.75);
      padding: 1rem;
      border-radius: 1rem;
    }
  }
}

.imgReveal {
  position: relative;
  overflow: hidden;
  border-radius: 40px;

  flex: 1 1 60%;

  margin-inline: auto;

  width: 90vw;
  max-width: 800px;

  display: flex;
  justify-content: center;
  align-items: center;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .clippedImage {
    position: absolute;
    inset: 0;
    clip-path: circle(0% at 50% 50%);
    animation: clipSize 1s ease-in-out;

    z-index: 10;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .infoOverlay {
    position: absolute;
    inset: 0;
    overflow: hidden;
    z-index: 20;

    .overlayCard {
      position: absolute;
      inset: 0;
      opacity: 0;
      visibility: hidden;
      background-color: rgba(85, 51, 51, 0.7);
      backdrop-filter: blur(10px);

      transition: 0.25s;
      transition-delay: 300ms;
    }
    .overlayContent {
      position: absolute;
      top: -50%;
      left: 50%;
      transform: translate(-50%, 0);
      text-align: center;
      color: white;

      transition: transform 0.3s ease-in-out, top 0.3s ease-in-out;
      transition-delay: 0;

      p {
        font-family: "Lexend-Bold";
        font-size: 1.25rem;
      }
    }
    .overlayBtn {
      position: absolute;
      bottom: 1.5rem;
      right: 1.5rem;
      height: 3rem;
      width: 3rem;
      text-align: center;
      padding: 0.75rem;
      border-radius: 50%;
      background-color: rgba($color: #fff, $alpha: 0.5);

      cursor: pointer;

      svg {
        max-width: 100%;
        height: auto;
        fill: white;
        transition: transform 300ms ease-in-out;
      }
    }

    &.opened {
      .overlayCard {
        opacity: 1;
        visibility: visible;
        transition: 0.3s;
        transition-delay: 0;
      }
      .overlayContent {
        top: 50%;
        transform: translate(-50%, -50%);
        transition-delay: 200ms;
      }
      .overlayBtn {
        svg {
          transform: rotate(45deg);
        }
      }
    }
  }
}
