@charset "UTF-8";
/* NEW CSS PROJECT */
/* IMPORTS */
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500&display=swap");
@font-face {
  font-family: "Lexend";
  src: url(fonts/LexendPeta-Regular.ttf);
}
@font-face {
  font-family: "Lexend-Bold";
  src: url(fonts/LexendPeta-Bold.ttf);
}
/* assets stylesheet */
/* including, buttons, and other assets from our UI KIT */
/* colors */
/* buttons */
a {
  text-decoration: none;
  font-size: 1rem;
  color: #fff;
}
a:hover {
  color: #47c7ef;
}

.btn {
  display: block;
  padding: 0.5rem 1rem;
  border-radius: 0.75rem;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  color: #fff;
  border: #47c7ef solid 2px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.btn.loading {
  pointer-events: none;
  background-color: rgb(46, 230, 46) !important;
  color: rgb(46, 230, 46) !important;
  border: 2px rgb(46, 230, 46) solid !important;
  position: relative;
  font-size: 0;
  line-height: 1rem;
  padding-inline: 2rem;
}
.btn.loading:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  border: 2px solid rgb(255, 255, 255);
  border-top-color: transparent;
  border-right-color: transparent;
  -webkit-animation: spin 1s ease-in-out infinite;
          animation: spin 1s ease-in-out infinite;
}

@-webkit-keyframes spin {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
.btn-blue {
  background-color: #47c7ef;
  color: #fff;
  border: 2px #47c7ef solid;
}
.btn-blue:hover {
  background-color: #fff;
  color: #47c7ef;
}

.btn-blue1 {
  background-color: #fff;
  color: #47c7ef;
  border: 2px #47c7ef solid;
}
.btn-blue1:hover {
  background-color: #47c7ef;
  color: #fff;
}

.btn-red {
  background-color: #c22b2b;
  color: #fff;
  border: 2px #c22b2b solid;
}
.btn-red:hover {
  background-color: #fff;
  color: #c22b2b;
}

.btn-red1 {
  background-color: #fff;
  color: #c22b2b;
  border: 2px #c22b2b solid;
}
.btn-red1:hover {
  background-color: #c22b2b;
  color: #fff;
}

.btn-black {
  background-color: #292a2a;
  color: #fff;
  border: 2px #292a2a solid;
}
.btn-black:hover {
  background-color: #fff;
  color: #292a2a;
}

.btn-black1 {
  background-color: #fff;
  color: #292a2a;
  border: 2px #292a2a solid;
}
.btn-black1:hover {
  background-color: #292a2a;
  color: #fff;
}

.btn-white {
  background-color: #fff;
  color: #292a2a;
  border: 2px #292a2a solid;
}
.btn-white:hover {
  background-color: #292a2a;
  color: #fff;
}

.btn-white1 {
  background-color: #292a2a;
  color: #fff;
  border: 2px #292a2a solid;
}
.btn-white1:hover {
  background-color: #fff;
  color: #292a2a;
}

.container {
  padding-top: 125px;
  margin: 0 auto;
  width: min(100% - 2rem, 1200px);
}

form {
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  padding: 1rem;
  background-color: rgba(148, 148, 148, 0.5215686275);
  border-radius: 0.75rem;
}
form input,
form label {
  color: #292a2a;
}
form .input-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
  margin-top: 1.75rem;
  width: 100%;
  flex: 1 1 40%;
  position: relative;
}
form .input-group label {
  color: #292a2a;
  font-size: 1rem;
  margin-bottom: 0.5rem;
  position: absolute;
  top: 50%;
  left: 0.5rem;
  transition: all 0.3s ease;
  transform: translateY(-50%);
}
form .input-group input,
form .input-group textarea {
  padding: 0.5rem 1rem;
  font-size: 1.2rem;
  border-radius: 0.75rem;
  border: 2px #292a2a solid;
}
form .input-group input:focus,
form .input-group textarea:focus {
  outline: none;
  border: 2px #47c7ef solid;
}
form .input-group input:not(:-moz-placeholder-shown) + label, form .input-group textarea:not(:-moz-placeholder-shown) + label {
  top: -0.65rem;
  left: 0.5rem;
  font-size: 0.9rem;
  color: #fff;
}
form .input-group input:not(:-ms-input-placeholder) + label, form .input-group textarea:not(:-ms-input-placeholder) + label {
  top: -0.65rem;
  left: 0.5rem;
  font-size: 0.9rem;
  color: #fff;
}
form .input-group input:focus + label, form .input-group input:not(:placeholder-shown) + label,
form .input-group textarea:focus + label,
form .input-group textarea:not(:placeholder-shown) + label {
  top: -0.65rem;
  left: 0.5rem;
  font-size: 0.9rem;
  color: #fff;
}

input.invalid {
  border: 2px #c22b2b solid !important;
  color: #c22b2b !important;
  border: none !important;
  background-color: #ffc4c4 !important;
}

header {
  position: fixed;
  background-color: white;
  width: 100%;
  height: 90px;
  border-radius: 0 0 25px 25px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.25);
  z-index: 998;
  top: -20%;
  transition: top 500ms ease-in-out;
}
header.scrolled {
  top: 0;
}
header .header-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 100%;
  width: 100%;
  padding: 0 2rem;
  align-items: center;
}
header .header-container .button-left .burger-menu span {
  background-color: black;
}
header .header-container .logo {
  height: clamp(30px, 4vw, 40px);
  max-width: 250px;
  display: flex;
  align-items: center;
}
header .header-container .logo .logo-icon {
  display: none;
}
header .header-container .logo svg,
header .header-container .logo img {
  -o-object-fit: contain;
     object-fit: contain;
  width: 100%;
  max-height: 100%;
  transition: all 0.3s ease-in-out;
}

.landing-header {
  position: fixed;
  background-color: transparent;
  width: 100%;
  height: 125px;
  border-radius: 0 0 25px 25px;
  z-index: 999;
  top: 0;
  transition: top 500ms ease-in-out;
}
.landing-header.scrolled {
  top: -20%;
}
.landing-header .landing-header-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 100%;
  width: 100%;
  padding: 0 3rem;
  align-items: center;
}
.landing-header .landing-header-container .landing-button-left .burger-menu span {
  background-color: white;
}
.landing-header .landing-header-container .landing-button-left span {
  color: white;
}
.landing-header .landing-header-container .landing-logo {
  height: clamp(30px, 4vw, 40px);
  max-width: 250px;
  display: flex;
  align-items: center;
}
.landing-header .landing-header-container .landing-logo #logo-icon {
  display: none;
}
.landing-header .landing-header-container .landing-logo #logo-full {
  display: block;
}
.landing-header .landing-header-container .landing-logo svg,
.landing-header .landing-header-container .landing-logo img {
  -o-object-fit: contain;
     object-fit: contain;
  width: 100%;
  max-height: 100%;
  fill: #fff;
  transition: all 0.3s ease-in-out;
}
.landing-header.toggled-landing .landing-button-left .burger-menu span {
  background-color: black !important;
}
.landing-header.toggled-landing .landing-button-left span {
  color: black !important;
}
.landing-header.toggled-landing .landing-logo svg {
  fill: #000 !important;
}

#menu-button {
  display: flex;
  align-items: center;
  gap: 1rem;
  cursor: pointer;
}
#menu-button .burger-menu {
  position: relative;
  display: flex;
  cursor: pointer;
  height: 40px;
  width: 30px;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-between;
  padding-block: 10px;
  z-index: 1000;
}
#menu-button .burger-menu span {
  display: block;
  width: 100%;
  height: 3px;
  border-radius: 15px;
  transition: 0.5s ease;
}
#menu-button .burger-menu.active span:nth-child(1) {
  width: 80%;
  transform: translateY(8px) rotate(135deg);
}
#menu-button .burger-menu.active span:nth-child(2) {
  width: 80%;
  transform: rotate(-135deg);
}
#menu-button .burger-menu.active span:nth-child(3) {
  transform: scale(0);
}

.navbar-menu {
  position: fixed;
  top: -100vh;
  left: 1rem;
  right: 1rem;
  min-height: 50vh;
  border-radius: 15px;
  background-color: white;
  padding: 1rem;
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.25);
  z-index: 997;
  transition: all 0.3s ease-in-out;
}
.navbar-menu.menu-toggled {
  top: 1rem;
}
.navbar-menu h2 {
  margin: 0;
}
.navbar-menu .navbar-menu__container {
  margin-top: 75px;
  border-top: 1px solid #e5e5e5;
  padding-block: 1rem;
  display: flex;
}
.navbar-menu .navbar-menu__container .navbar-menu__left {
  flex: 0 0 66.6666%;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  border-right: 1px solid #e5e5e5;
}
.navbar-menu .navbar-menu__container .navbar-menu__left .navbar-menu__left__item {
  flex: 0 0 45%;
  font-weight: 500;
  color: #000;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.navbar-menu .navbar-menu__container .navbar-menu__left .navbar-menu__left__item a {
  text-decoration: none;
  color: #000;
  transition: all 0.3s ease-in-out;
}
.navbar-menu .navbar-menu__container .navbar-menu__left .navbar-menu__left__item a:hover {
  color: rgb(26, 43, 57);
  transform: translateX(5px);
}

@media screen and (max-width: 600px) {
  .navbar-menu {
    left: 0;
    right: 0;
    border-radius: 0;
  }
  .navbar-menu .navbar-menu__container .navbar-menu__left {
    flex: 0 0 100%;
    border-right: none;
  }
  .navbar-menu .navbar-menu__container .navbar-menu__left .navbar-menu__left__item {
    flex: 0 0 100%;
  }
  .navbar-menu .navbar-menu__container .navbar-menu__right {
    display: none;
  }
}
.fast-links {
  padding: 1rem;
}
.fast-links ul {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.fast-links ul li {
  flex: 0 0 45%;
  font-weight: 500;
  color: #000;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.fast-links ul li a {
  width: 100%;
  text-align: center;
}

@media only screen and (max-width: 1024px) {
  header {
    height: 75px;
  }
  header .header-container {
    flex-direction: row-reverse;
  }
  header .header-container .logo {
    aspect-ratio: 1;
    max-width: none;
  }
  header .header-container .logo .logo-full {
    display: none !important;
  }
  header .header-container .logo .logo-icon {
    display: block !important;
  }
  header .button-right {
    display: none;
  }
  .landing-header {
    height: 75px;
  }
  .landing-header .landing-header-container {
    flex-direction: row-reverse;
    padding: 0 1rem;
  }
  .landing-header .landing-header-container .landing-logo {
    aspect-ratio: 1;
    max-width: none;
  }
  .landing-header .landing-header-container #logo-full {
    display: none !important;
  }
  .landing-header .landing-header-container #logo-icon {
    display: block !important;
  }
  .landing-header .landing-header-container .landing-button-right {
    display: none;
  }
  .navbar-menu {
    left: 0;
    right: 0;
    border-radius: 0 0 15px 15px;
  }
  .navbar-menu.menu-toggled {
    top: 0;
  }
  #modal-button {
    display: none;
  }
}
footer {
  box-shadow: inset 0 0.2px 0 0 #fff;
  background-color: #09111c;
  color: #fff;
  padding: 2rem 0;
  text-align: center;
}
footer a {
  display: block;
  margin-inline: auto;
  width: min(100% - 3rem, 300px);
  color: #fff;
  text-decoration: none;
}
footer a:hover {
  text-decoration: underline;
}
footer a img {
  width: 100%;
}
footer .footer-items {
  display: flex;
  width: min(100% - 3rem, 1400px);
  margin-inline: auto;
  margin-block: 1rem;
  text-align: left;
  flex-flow: row wrap;
  gap: 1.5rem;
  justify-content: center;
}
footer .footer-items .footer-item {
  display: flex;
  flex-direction: column;
  margin: 0.5rem 0;
  flex: 0 0 20%;
}
footer .footer-items .footer-item h1 {
  font-size: clamp(1.2rem, 10vw, 1.5rem);
  margin: 0.5rem 0;
}
footer .footer-items .footer-item a {
  color: #fff;
  text-decoration: none;
  margin: 0 auto;
}
footer .footer-items .footer-item a:hover {
  text-decoration: underline;
}
footer .footer-ending p {
  font-size: 0.75rem;
}

@media screen and (max-width: 1024px) {
  footer .footer-items .footer-item {
    flex: 0 0 40%;
    justify-content: center;
  }
  footer .footer-items .footer-item h1 {
    margin: 0.5rem auto;
  }
}
@media screen and (max-width: 768px) {
  footer .footer-items .footer-item {
    flex: 0 0 100%;
    justify-content: center;
  }
  footer .footer-items .footer-item h1 {
    margin: 0.5rem auto;
  }
}
@-webkit-keyframes zoom {
  0% {
    transform: scale(1.075, 1.075);
  }
  100% {
    transform: scale(1, 1);
  }
}
@keyframes zoom {
  0% {
    transform: scale(1.075, 1.075);
  }
  100% {
    transform: scale(1, 1);
  }
}
#articles_body {
  color: white;
}
#articles_body .container {
  min-height: 100dvh;
}
#articles_body .container .articles_grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}
#articles_body .container .articles_grid .card {
  width: 100%;
  width: 33.333333%;
  padding: 1rem;
}
#articles_body .container .articles_grid .card .card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: rgba(70, 70, 70, 0.4);
  border-radius: 0.5rem;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  padding: 1rem;
  gap: 1rem;
  height: 100%;
}
#articles_body .container .articles_grid .card .card-body .card-title {
  font-size: clamp(1rem, 5vw, 1.5rem);
  line-height: 1;
  font-weight: 700;
}
#articles_body .container .articles_grid .card .card-body .card-text {
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  overflow: hidden;
  font-size: 0.95rem;
}
#articles_body .container .articles_grid .card .card-body .card-text * {
  all: unset;
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
}
#articles_body .container .articles_grid .card .card-body .card-link {
  font-size: 0.875rem;
  font-weight: 400;
}
#articles_body .container .card .card-body ul {
  margin-block: 1rem;
  display: flex;
  flex-direction: column;
  list-style: disc;
  gap: 1rem;
}
#articles_body .container .card .card-body ul li {
  margin-left: 1rem;
}

@media only screen and (max-width: 998px) {
  #articles_body .container .articles_grid .card {
    width: 50%;
  }
}
@media only screen and (max-width: 560px) {
  #articles_body .container .articles_grid .card {
    width: 100%;
  }
}
#connexion {
  background-color: #09111c;
  color: #fff;
  width: 100%;
  min-height: calc(100vh - 100px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact {
  flex-direction: column;
  color: white;
}
.contact .form {
  max-width: 900px;
}

.form {
  border-radius: 15px;
  color: white !important;
}

.long {
  min-height: 200px;
}

#depot_article h1 {
  color: white;
}
#depot_article .container {
  min-height: 100dvh;
}

#accessplan .content {
  margin: 0 auto;
  max-width: 1728px;
  position: relative;
  margin-top: 125px;
  background-color: #f5f5f5;
  border-radius: 20px;
  padding: 4rem 5rem;
}
#accessplan .title {
  margin-bottom: 4rem;
}
#accessplan .text {
  margin: 0 0.1rem;
}
#accessplan .apps {
  display: flex;
  flex-wrap: wrap;
  gap: 0.8rem;
}
#accessplan .store {
  width: 200px;
}
#accessplan .map {
  margin-top: 3rem;
  width: 100%;
  height: 500px;
  border-radius: 10px;
}
@media screen and (max-width: 720px) {
  #accessplan .content {
    padding: 4rem 1rem;
  }
  #accessplan .apps {
    justify-content: center;
  }
  #accessplan .map {
    height: 300px;
  }
}

.container-table {
  padding-top: 125px;
  width: 100%;
  max-width: 1333px;
  margin: 0 auto;
  padding-inline: 1rem;
  display: flex;
  justify-content: center;
}

.editTable {
  margin-block: 3rem;
}
.editTable h2 {
  margin-bottom: 1rem;
}
.editTable td:not(.action_links) {
  padding: 5px;
}
.editTable .textarea_container {
  width: 500px;
}
.editTable .textarea_container textarea {
  width: 100%;
  height: 100%;
  resize: vertical;
}
.editTable input,
.editTable select,
.editTable textarea {
  min-width: 100px;
  display: block;
  width: 100%;
  border: none;
  background-color: transparent;
  color: white;
  padding: 0.75rem 0.5rem;
}
.editTable input:disabled,
.editTable select:disabled,
.editTable textarea:disabled {
  opacity: 0.7;
}
.editTable input:not(:disabled),
.editTable select:not(:disabled),
.editTable textarea:not(:disabled) {
  cursor: pointer;
  outline: 1px solid rgba(255, 179, 0, 0.209);
}
.editTable input:focus,
.editTable select:focus,
.editTable textarea:focus {
  outline: 1px solid rgb(255, 179, 0);
}
.editTable .action_links {
  display: flex;
  gap: 2rem;
  border: none;
}
.editTable .action_links button {
  flex: 1 1 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.editTable .action_links button svg {
  height: 1.25rem;
}
.editTable .action_links button.disabled {
  cursor: not-allowed;
  opacity: 0.5;
}
.editTable .action_links .editButton svg:first-child {
  display: block;
}
.editTable .action_links .editButton svg:last-child {
  display: none;
}
.editTable .action_links .validateButton {
  display: none;
  border: 1px solid rgb(255, 179, 0);
  background-color: rgb(255, 179, 0);
}
.editTable .action_links .deleteButton {
  display: flex;
}
.editTable select option {
  color: black;
}
.editTable tr.editMode {
  background-color: rgb(91, 65, 5);
}
.editTable tr.editMode .editButton {
  border: 1px solid rgb(255, 179, 0);
  background-color: rgb(255, 179, 0);
  color: white;
}
.editTable tr.editMode .editButton svg:first-child {
  display: none;
}
.editTable tr.editMode .editButton svg:last-child {
  display: block;
}
.editTable tr.editMode .validateButton {
  display: flex;
}
.editTable tr.editMode .validateButton svg {
  transform: rotate(180deg);
}
.editTable tr.editMode .validateButton.validate {
  background-color: rgb(0, 179, 0);
  border: 1px solid rgb(0, 179, 0);
}
.editTable tr.editMode .deleteButton {
  display: none;
}

#discussion .container {
  height: 100dvh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}
#discussion .container h1 {
  align-self: baseline;
}
#discussion .container .message_container {
  width: 100%;
  height: calc(100vh - 18rem);
  overflow-y: auto;
  padding: 1rem;
  background-color: rgba(31, 31, 31, 0.4588235294);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  border-radius: 0.5rem;
}
#discussion .container .messages_grid {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 100%;
  gap: 1rem;
}
#discussion .container .messages_grid .message {
  flex: 0 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  padding: 1rem;
  border-radius: 0.5rem;
  background-color: #2f2f2f;
  color: white;
  word-break: break-word;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}
#discussion .container .messages_grid .message .message_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 0.5rem;
}
#discussion .container .messages_grid .message .message_header .message_infos {
  font-weight: bold;
}
#discussion .container .messages_grid .message .message_content {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  margin-bottom: 0.5rem;
}
#discussion .container .send_container {
  flex: 0 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-block: 1rem;
}
#discussion .container .send_container input {
  flex: 1 0 auto;
  height: 2rem;
  border: none;
  border-radius: 0.5rem;
  padding: 0.5rem;
  margin-right: 1rem;
}
#discussion .container .send_container button {
  flex: 0 0 auto;
  height: 2rem;
  border: none;
  border-radius: 0.5rem;
  padding: 0.5rem;
  background-color: #2f2f2f;
  color: white;
  cursor: pointer;
}
#discussion .container .send_container button:hover {
  background-color: #3f3f3f;
}

/* reset */
*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* body */
html,
body {
  font-family: "DM Sans", sans-serif;
  font-size: clamp(0.9rem, 1.5vw, 16px);
  overflow-x: hidden;
  background-image: url("../img/background.png");
  background-size: cover;
  background-repeat: no-repeat;
}
html.home,
body.home {
  background-image: none;
  background-color: white;
}
html::-webkit-scrollbar,
body::-webkit-scrollbar {
  width: 14px;
}
html::-webkit-scrollbar-track,
body::-webkit-scrollbar-track {
  background: #cecece;
}
html::-webkit-scrollbar-thumb,
body::-webkit-scrollbar-thumb {
  background: rgb(82, 82, 82);
  border: 4px solid #cecece;
}
html::-webkit-scrollbar-thumb:hover,
body::-webkit-scrollbar-thumb:hover {
  background: rgb(46, 46, 46);
}

.no-scroll {
  overflow: hidden;
}

/* TITLES */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 800;
  margin-bottom: 1rem;
}

h1 {
  font-size: clamp(2rem, 1.5vw, 3rem);
  position: relative;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  z-index: 1;
}

h1:not(.no-style):before {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: -1.5rem;
  display: inline-block;
  height: 2px;
  width: 1rem;
  background-color: currentColor;
}

.no-margin {
  margin: 0;
}

@media screen and (max-width: 1400px) {
  h1:not(.no-style):before {
    display: none;
  }
}
h1:not(.no-style):after {
  content: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABYAAAAOCAYAAAArMezNAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAArSURBVHgB7dHBCQAACEJRaf8FnK5Vwh0qEHzgxesHLpFsbfMvxIvEM5Z4MsmiP/cFQiy5AAAAAElFTkSuQmCC");
  position: absolute;
  -o-object-fit: cover;
     object-fit: cover;
  top: -10px;
  right: -15px;
  z-index: -1;
}

/*  main classes  */
.d-flex {
  display: flex;
}

.column {
  flex-direction: column;
}

.row {
  flex-direction: row;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.align-center {
  align-items: center;
}

.grid-center {
  display: grid;
  place-items: center;
}

.text-center {
  text-align: center;
}

.f-width {
  width: 100%;
}

.margin-auto {
  margin-inline: auto;
}

.error_div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.error_div #error {
  margin: 1rem;
  padding: 0.5rem 1rem;
  border-radius: 1rem;
  background-color: rgba(255, 0, 0, 0.5);
  color: white;
}
.error_div #success {
  margin: 1rem;
  padding: 0.5rem 1rem;
  border-radius: 1rem;
  background-color: rgba(0, 255, 0, 0.5);
  color: white;
}

ul:not(.doted) {
  list-style: none;
}

.doted {
  list-style: disc;
}
.doted > li {
  margin-left: 1rem;
}

.tableContainer {
  overflow-x: auto;
  max-width: 100%;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  border: 1px solid #ddd;
}
table th,
table td {
  text-align: left;
  padding: 0.5rem 1rem;
  border: 1px solid rgba(221, 221, 221, 0.331);
}
table tr:nth-child(even) {
  background-color: #2e2e2e;
}
table tr {
  background-color: #3c3c3c;
}
table tr:hover {
  background-color: rgb(92, 92, 92);
}
table th {
  text-align: center;
  background-color: #0e1624;
  color: white;
}

/* BODY DEVELOPMENT */
.hero_container {
  width: 100%;
  min-height: 100vh;
}

.hero {
  margin: 0 auto;
  height: 100vh;
  max-width: 100%;
  padding: 1.5rem;
  /* animation: zoom 750ms ease-in-out; */
  color: white;
}
.hero .content {
  position: relative;
  height: 100%;
  width: 100%;
  background-color: #1c1c20;
  border-radius: clamp(0.5rem, 1.5vw, 1rem);
  padding-inline: 10vw;
  display: flex;
  align-items: center;
}
.hero .content h1 {
  font-size: clamp(1.5rem, 1.5vw, 2rem);
  font-family: "Lexend-Bold", sans-serif;
  margin-block: 1rem;
}

.content-container {
  align-items: center;
  gap: 5vw;
  flex-wrap: wrap;
}
.content-container .main-container {
  display: flex;
  flex: 1 1 400px;
  flex-direction: column;
  gap: 3rem;
  margin-inline: 0;
}
.content-container .main-container .para {
  background-color: rgba(92, 92, 92, 0.75);
  padding: 1rem;
  border-radius: 1rem;
}

.imgReveal {
  position: relative;
  overflow: hidden;
  border-radius: 20px;
  flex: 1 0 50%;
  margin-inline: auto;
  max-width: 800px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.imgReveal img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.imgReveal .clippedImage {
  position: absolute;
  inset: 0;
  -webkit-clip-path: circle(0% at 50% 50%);
          clip-path: circle(0% at 50% 50%);
  -webkit-animation: clipSize 1s ease-in-out;
          animation: clipSize 1s ease-in-out;
  z-index: 10;
}
.imgReveal .clippedImage img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.imgReveal .infoOverlay {
  position: absolute;
  inset: 0;
  overflow: hidden;
  z-index: 20;
  border-radius: 20px;
}
.imgReveal .infoOverlay .overlayCard {
  position: absolute;
  inset: 0;
  opacity: 0;
  visibility: hidden;
  background-color: rgba(85, 51, 51, 0.7);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  transition: 0.25s;
  transition-delay: 300ms;
}
.imgReveal .infoOverlay .overlayContent {
  position: absolute;
  top: -50%;
  left: 50%;
  transform: translate(-50%, 0);
  text-align: center;
  color: white;
  transition: transform 0.3s ease-in-out, top 0.3s ease-in-out;
  transition-delay: 0;
}
.imgReveal .infoOverlay .overlayContent p {
  font-size: 1.25rem;
}
.imgReveal .infoOverlay .overlayBtn {
  position: absolute;
  bottom: 1.5rem;
  right: 1.5rem;
  height: 3rem;
  width: 3rem;
  text-align: center;
  padding: 0.75rem;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.5);
  cursor: pointer;
}
.imgReveal .infoOverlay .overlayBtn svg {
  max-width: 100%;
  height: auto;
  fill: white;
  transition: transform 300ms ease-in-out;
}
.imgReveal .infoOverlay.opened .overlayCard {
  opacity: 1;
  visibility: visible;
  transition: 0.3s;
  transition-delay: 0;
}
.imgReveal .infoOverlay.opened .overlayContent {
  top: 50%;
  transform: translate(-50%, -50%);
  transition-delay: 200ms;
}
.imgReveal .infoOverlay.opened .overlayBtn svg {
  transform: rotate(45deg);
}

@media only screen and (max-width: 1024px) {
  .hero {
    padding: 0;
  }
  .hero .content {
    padding-inline: 5vw;
    border-radius: 0;
  }
}
.intervenants_container {
  display: flex;
  flex-flow: row wrap;
  padding-top: 1rem;
}
.intervenants_container .card_container {
  padding: 1rem;
  flex: 0 0 33.3333%;
  text-align: center;
}
.intervenants_container .card_container #card_intervenant {
  display: flex;
  box-shadow: 3px 3px 9px 3px rgba(0, 0, 0, 0.1);
  color: white;
  height: 125px;
  background-color: #00484d;
  border-radius: 15px;
  padding: 0.75rem;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

@media screen and (max-width: 1024px) {
  .intervenants_container .card_container {
    flex: 0 0 50%;
  }
}
@media screen and (max-width: 768px) {
  .intervenants_container .card_container {
    flex: 0 0 100%;
    padding: 0;
    padding-block: 1rem;
  }
}
.more-infos {
  flex-wrap: wrap;
  gap: 1.5rem;
  padding-block: 1rem;
  padding-inline: 0;
}
.more-infos #dates {
  flex: 1 1 25%;
  display: flex;
  flex-direction: column;
}
.more-infos #dates #dates_importantes {
  padding: 1rem;
  background-color: #ececec;
  border-radius: 15px;
  justify-content: space-around;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  align-items: center;
  box-shadow: 3px 3px 9px 3px rgba(0, 0, 0, 0.1);
}
.more-infos #dates .dadates {
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: column;
  justify-content: space-between;
  font-style: normal;
  font-size: 1.2rem;
  gap: 0.5rem;
  align-items: flex-start;
}
.more-infos #carte {
  flex: 1 1 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.more-infos #carte .emplacement_map {
  height: 350px;
  border-radius: 20px;
  box-shadow: 3px 3px 9px 3px rgba(0, 0, 0, 0.1);
  margin-bottom: 1rem;
  border: 0;
}
.more-infos #carte #nav_bas {
  height: 150px;
  background-color: #ececec;
  border-radius: 15px;
  text-align: center;
  justify-content: space-between;
  display: flex;
  padding: 0.75rem;
  gap: 1rem;
  align-items: center;
  box-shadow: 3px 3px 9px 3px rgba(0, 0, 0, 0.1);
}
.more-infos #carte #nav_bas .bulle {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  aspect-ratio: 1/1;
  border-radius: 10px;
  color: #fff;
  text-align: left;
  padding: 0.5rem;
}
.more-infos #carte #nav_bas .bulle .txt_bulles {
  font-size: 12px;
  margin: 0;
}
.more-infos #carte #nav_bas .bulle#bulles1 {
  background: linear-gradient(98.7deg, #2163e1 0%, #2ddae6 98.66%);
}
.more-infos #carte #nav_bas .bulle#bulles2 {
  background: linear-gradient(98.7deg, #48b66d 0%, #40e0d0 98.66%);
}
.more-infos #carte #nav_bas .bulle#bulles3 {
  background: linear-gradient(98.7deg, #7adfdf 0%, #4a87ff 98.66%);
}
.more-infos #carte #nav_bas .bulle .flèches {
  position: absolute;
  height: 50px;
  bottom: 0;
  right: 0;
  display: flex;
  padding: 0.5rem;
}
.more-infos #carte #nav_bas .bulle .flèches .flèches_background {
  width: 2.25rem;
  aspect-ratio: 1;
  background: rgba(225, 225, 225, 0.49);
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-self: center;
}
.more-infos #carte #nav_bas .bulle .flèches .flèches_background img {
  -o-object-fit: contain;
     object-fit: contain;
  width: 60%;
  aspect-ratio: 1;
}
@media (max-width: 500px) {
  .more-infos #carte #nav_bas .bulle {
    aspect-ratio: unset;
    flex: 1 1 30%;
  }
}

.btn_blue {
  border: 2px solid #47c7ef;
  border-radius: 30px;
  color: #47c7ef;
  padding: 4px;
}

.articles_container {
  background: #f1f1f1;
  box-shadow: 5px 8px 14px 3px rgba(0, 0, 0, 0.15);
  border-radius: 20px;
  align-content: center;
  margin-top: 20px;
  padding: 0.5rem;
}
.articles_container a {
  margin-block: 0.5rem;
}
.articles_container #articles {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
}
.articles_container #articles .card {
  width: 33.333333%;
  padding: 0.5rem;
}
.articles_container #articles .card .card-body {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: rgba(168, 168, 168, 0.2);
  border-radius: 0.75rem;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  padding: 1rem;
  gap: 1rem;
}
.articles_container #articles .card .card-body .card-date {
  font-size: 0.875rem;
  font-weight: 400;
}
.articles_container #articles .card .card-body .card-title {
  font-size: clamp(1rem, 5vw, 1.5rem);
  line-height: 1;
  font-weight: 700;
  margin: 0;
}
.articles_container #articles .card .card-body .card-text {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  font-size: 0.95rem;
  flex-grow: 1;
}
.articles_container #articles .card .card-body .card-text * {
  all: unset;
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
}
.articles_container #articles .card .card-body .card-link {
  font-size: 0.875rem;
  font-weight: 400;
}
@media only screen and (max-width: 998px) {
  .articles_container #articles .card {
    width: 50%;
  }
}
@media only screen and (max-width: 560px) {
  .articles_container #articles .card {
    width: 100%;
  }
}

#calendar {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  height: 600px;
}
#calendar tr {
  height: 2.3rem;
}
#calendar .fc-timegrid-slot-label-cushion,
#calendar .fc-timegrid-axis-cushion {
  color: #fff !important;
}

#calendar_modal {
  height: 100dvh;
  width: 100vw;
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: visible;
  opacity: 1;
  transition: all 0.3s ease-in-out;
}
#calendar_modal.hidden {
  visibility: hidden;
  opacity: 0;
}
#calendar_modal .modal {
  background-color: #fff;
  border-radius: 20px;
  padding: 1rem;
  width: min(100% - 2rem, 400px);
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
#calendar_modal .modal .modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#calendar_modal .modal .modal-header h2 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 0;
}
#calendar_modal .modal .modal-header .close {
  cursor: pointer;
  font-size: 2rem;
  font-weight: 700;
  color: #000;
  transition: all 0.3s ease-in-out;
}
#calendar_modal .modal .modal-header .close:hover {
  color: #47c7ef;
}
#calendar_modal .modal .modal-body {
  font-size: 1rem;
  margin-bottom: 1rem;
}/*# sourceMappingURL=style.css.map */