/* NEW CSS PROJECT */
/* IMPORTS */
@font-face {
  font-family: "Lexend";
  src: url(fonts/LexendPeta-Regular.ttf);
}
@font-face {
  font-family: "Lexend-Bold";
  src: url(fonts/LexendPeta-Bold.ttf);
}
/* assets stylesheet */
/* including, buttons, and other assets from our UI KIT */
/* colors */
/* buttons */
a {
  text-decoration: none;
  font-size: 1.2rem;
}

.btn {
  display: inline-block;
  padding: 0.5rem 1rem;
  border-radius: 0.75rem;
  cursor: pointer;
  transition: all 0.3s ease;
}

.btn-blue {
  background-color: #47c7ef;
  color: #fff;
  border: 2px #47c7ef solid;
}
.btn-blue:hover {
  background-color: #fff;
  color: #47c7ef;
}

.btn-blue1 {
  background-color: #fff;
  color: #47c7ef;
  border: 2px #47c7ef solid;
}
.btn-blue1:hover {
  background-color: #47c7ef;
  color: #fff;
}

.btn-red {
  background-color: #c22b2b;
  color: #fff;
  border: 2px #c22b2b solid;
}
.btn-red:hover {
  background-color: #fff;
  color: #c22b2b;
}

.btn-red1 {
  background-color: #fff;
  color: #c22b2b;
  border: 2px #c22b2b solid;
}
.btn-red1:hover {
  background-color: #c22b2b;
  color: #fff;
}

.btn-black {
  background-color: #292a2a;
  color: #fff;
  border: 2px #292a2a solid;
}
.btn-black:hover {
  background-color: #fff;
  color: #292a2a;
}

.btn-black1 {
  background-color: #fff;
  color: #292a2a;
  border: 2px #292a2a solid;
}
.btn-black1:hover {
  background-color: #292a2a;
  color: #fff;
}

.btn-white {
  background-color: #fff;
  color: #292a2a;
  border: 2px #292a2a solid;
}
.btn-white:hover {
  background-color: #292a2a;
  color: #fff;
}

.btn-white1 {
  background-color: #292a2a;
  color: #fff;
  border: 2px #292a2a solid;
}
.btn-white1:hover {
  background-color: #fff;
  color: #292a2a;
}

header {
  position: fixed;
  background-color: white;
  width: 100%;
  height: 90px;
  border-radius: 0 0 25px 25px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.25);
  z-index: 99;
  top: -20%;
  transition: top 500ms ease-in-out;
}
header.scrolled {
  top: 0;
}
header .header-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 100%;
  padding: 0 2rem;
  align-items: center;
}
header .header-container > div {
  width: clamp(15%, 150px, 20%);
}
header .header-container .logo img {
  height: 100%;
}
.landing-header {
  position: fixed;
  background-color: transparent;
  width: 100%;
  height: 125px;
  border-radius: 0 0 25px 25px;
  z-index: 98;
  top: 0;
  transition: top 500ms ease-in-out;
}
.landing-header.scrolled {
  top: -20%;
}
.landing-header .landing-header-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 100%;
  padding: 0 3rem;
  align-items: center;
}
.landing-header .landing-header-container > div {
  width: clamp(15%, 150px, 20%);
}
.landing-header .landing-header-container .landing-logo img {
  height: 100%;
}
@-webkit-keyframes zoom {
  0% {
    transform: scale(1.075, 1.075);
  }
  100% {
    transform: scale(1, 1);
  }
}
@keyframes zoom {
  0% {
    transform: scale(1.075, 1.075);
  }
  100% {
    transform: scale(1, 1);
  }
}
/* reset */
*,
:before,
:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* body */
html,
body {
  font-family: "Lexend", sans-serif;
  font-size: 16px;
  height: 300%;
  overflow-x: hidden;
}
html::-webkit-scrollbar,
body::-webkit-scrollbar {
  width: 14px;
}
html::-webkit-scrollbar-track,
body::-webkit-scrollbar-track {
  background: #cecece;
}
html::-webkit-scrollbar-thumb,
body::-webkit-scrollbar-thumb {
  background: rgb(82, 82, 82);
  border: 4px solid #cecece;
}
html::-webkit-scrollbar-thumb:hover,
body::-webkit-scrollbar-thumb:hover {
  background: rgb(46, 46, 46);
}

/*  main classes  */
.d-flex {
  display: flex;
}

.column {
  flex-direction: column;
}

.row {
  flex-direction: row;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.align-center {
  align-items: center;
}

.grid-center {
  display: grid;
  place-items: center;
}

/* BODY DEVELOPMENT */
.hero_container {
  width: 100%;
  min-height: 100vh;
}

.hero {
  margin: 0 auto;
  height: 100%;
  max-width: 100%;
  padding: 1.5rem;
  -webkit-animation: zoom 750ms ease-in-out;
          animation: zoom 750ms ease-in-out;
  color: white;
}
.hero .content {
  position: relative;
  height: 100%;
  width: 100%;
  background-color: #1c1c20;
  border-radius: clamp(0.5rem, 1.5vw, 1rem);
  padding-inline: 5vw;
}

.imgReveal {
  position: relative;
  overflow: hidden;
  border-radius: 40px;
  margin-top: 20vh;
  margin-inline: auto;
  width: 90vw;
  max-width: 800px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.imgReveal img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.imgReveal .clippedImage {
  position: absolute;
  inset: 0;
  -webkit-clip-path: circle(0% at 50% 50%);
          clip-path: circle(0% at 50% 50%);
  -webkit-animation: clipSize 1s ease-in-out;
          animation: clipSize 1s ease-in-out;
  z-index: 10;
}
.imgReveal .clippedImage img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.imgReveal .infoOverlay {
  position: absolute;
  inset: 0;
  overflow: hidden;
  z-index: 20;
}
.imgReveal .infoOverlay .overlayCard {
  position: absolute;
  inset: 0;
  opacity: 0;
  visibility: hidden;
  background-color: rgba(85, 51, 51, 0.7);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  transition: 0.25s;
  transition-delay: 300ms;
}
.imgReveal .infoOverlay .overlayContent {
  position: absolute;
  top: -50%;
  left: 50%;
  transform: translate(-50%, 0);
  text-align: center;
  color: white;
  transition: transform 0.3s ease-in-out, top 0.3s ease-in-out;
  transition-delay: 0;
}
.imgReveal .infoOverlay .overlayContent p {
  font-family: "Lexend-Bold";
  font-size: 1.5rem;
}
.imgReveal .infoOverlay .overlayBtn {
  position: absolute;
  bottom: 1.5rem;
  right: 1.5rem;
  height: 3rem;
  width: 3rem;
  text-align: center;
  padding: 0.75rem;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.5);
  cursor: pointer;
}
.imgReveal .infoOverlay .overlayBtn svg {
  max-width: 100%;
  height: auto;
  fill: white;
  transition: transform 300ms ease-in-out;
}
.imgReveal .infoOverlay.opened .overlayCard {
  opacity: 1;
  visibility: visible;
  transition: 0.3s;
  transition-delay: 0;
}
.imgReveal .infoOverlay.opened .overlayContent {
  top: 50%;
  transform: translate(-50%, -50%);
  transition-delay: 200ms;
}
.imgReveal .infoOverlay.opened .overlayBtn svg {
  transform: rotate(45deg);
}/*# sourceMappingURL=style.css.map */