/* assets stylesheet */
/* including, buttons, and other assets from our UI KIT */

/* colors */
$color-primary: #47c7ef;
$color-secondary: #c22b2b;
$color-black: #292a2a;
$color-white: #fff;

/* buttons */
a {
  text-decoration: none;
  font-size: 1rem;
  color: $color-white;
  &:hover {
    color: $color-primary;
  }
}
.btn {
  display: block;
  padding: 0.5rem 1rem;
  border-radius: 0.75rem;
  width: fit-content;
  height: fit-content;
  color: #fff;
  border: $color-primary solid 2px;
  cursor: pointer;
  transition: all 0.3s ease;
  &.loading {
    pointer-events: none;
    background-color: rgb(46, 230, 46) !important;
    color: rgb(46, 230, 46) !important;
    border: 2px rgb(46, 230, 46) solid !important;
    position: relative;
    font-size: 0;
    line-height: 1rem;
    padding-inline: 2rem;

    &:after {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 1.5rem;
      height: 1.5rem;
      border-radius: 50%;
      border: 2px solid rgb(255, 255, 255);
      border-top-color: transparent;
      border-right-color: transparent;
      animation: spin 1s ease-in-out infinite;
    }
  }
}

@keyframes spin {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

.btn-blue {
  background-color: $color-primary;
  color: $color-white;
  border: 2px $color-primary solid;
  &:hover {
    background-color: $color-white;
    color: $color-primary;
  }
}
.btn-blue1 {
  background-color: $color-white;
  color: $color-primary;
  border: 2px $color-primary solid;
  &:hover {
    background-color: $color-primary;
    color: $color-white;
  }
}
.btn-red {
  background-color: $color-secondary;
  color: $color-white;
  border: 2px $color-secondary solid;
  &:hover {
    background-color: $color-white;
    color: $color-secondary;
  }
}
.btn-red1 {
  background-color: $color-white;
  color: $color-secondary;
  border: 2px $color-secondary solid;
  &:hover {
    background-color: $color-secondary;
    color: $color-white;
  }
}
.btn-black {
  background-color: $color-black;
  color: $color-white;
  border: 2px $color-black solid;
  &:hover {
    background-color: $color-white;
    color: $color-black;
  }
}
.btn-black1 {
  background-color: $color-white;
  color: $color-black;
  border: 2px $color-black solid;
  &:hover {
    background-color: $color-black;
    color: $color-white;
  }
}
.btn-white {
  background-color: $color-white;
  color: $color-black;
  border: 2px $color-black solid;
  &:hover {
    background-color: $color-black;
    color: $color-white;
  }
}
.btn-white1 {
  background-color: $color-black;
  color: $color-white;
  border: 2px $color-black solid;
  &:hover {
    background-color: $color-white;
    color: $color-black;
  }
}

.container {
  padding-top: 125px;
  margin: 0 auto;
  width: min(100% - 2rem, 1200px);
}

form {
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  padding: 1rem;

  background-color: #94949485;
  border-radius: 0.75rem;
  input,
  label {
    color: $color-black;
  }

  .input-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
    margin-top: 1.75rem;
    width: 100%;
    flex: 1 1 40%;
    position: relative;
    label {
      color: $color-black;
      font-size: 1rem;
      margin-bottom: 0.5rem;
      position: absolute;
      top: 50%;
      left: 0.5rem;
      transition: all 0.3s ease;
      transform: translateY(-50%);
    }
    input,
    textarea {
      padding: 0.5rem 1rem;
      font-size: 1.2rem;
      border-radius: 0.75rem;
      border: 2px $color-black solid;
      &:focus {
        outline: none;
        border: 2px $color-primary solid;
      }
      &:focus + label,
      &:not(:placeholder-shown) + label {
        top: -0.65rem;
        left: 0.5rem;
        font-size: 0.9rem;
        color: $color-white;
      }
    }
  }
}

input {
  &.invalid {
    border: 2px $color-secondary solid !important;
    color: $color-secondary !important;
    border: none !important;
    background-color: #ffc4c4 !important;
  }
}
