
body{
    background-image: url("../img/background.png");
    // height: 10vh;
    background-repeat: no-repeat;

}

.contact{
    flex-wrap: wrap;
    color: white;

}

.form{
    border-radius: 30px;
    color: white !important;
}