.contact {
 flex-direction: column;
  color: white;
  
  .form{
    max-width: 900px;
  }
}

.form {
  border-radius: 30px;
  color: white !important;
  
}

textarea{
    // border-radius: 30px;
    // border: 2px #292a2a solid;
    font-family: "Lexend";
//     color: #292a2a;
//     padding: 1rem;
}



